__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
ENV/
.env
*.egg-info/
dist/
build/
*.egg
.eggs/
db.sqlite3
*.log
.DS_Store
staticfiles/
media/
.idea/
.vscode/
*.swp
*.swo
celerybeat-schedule
celerybeat.pid
